$colorPrincipal: rgb(253, 252, 251);
$largoTarjeta: auto;
$anchoTarjeta: 90px;
$rightTarjeta: 73%;

body {
    background-color: $colorPrincipal;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 115px;
        margin-bottom: 13px;

        ul {
            display: flex;
            gap: 30px;
            list-style: none;

            li {
                cursor: pointer;
            }


        }
    }

    .header__lista {
        display: flex;
        gap: 20px;
        margin-right: 45px;

        li {
            list-style: none;
        }

        .Register {
            border: 1px solid black;
            border-radius: 14px;
            padding: 10px 20px;
            bottom: 10px;
            position: relative;
            height: 32%;
        }

        .Register:hover {
            background-color: black;
            color: white;
        }
    }

}

.hamburguesa {
    display: none;
}

.ocultar__barra {
    display: none;
}

main {
    display: flex;
    height: auto;

    .mobile {
        display: none;
    }

    .principal {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 10%;

        h1 {
            font-size: 72px;
            margin-bottom: 40px;
            width: 100%;
        }

        p {
            font-size: 18px;
            margin-bottom: 40px;
            width: 100%;
            margin-top: 0px;
        }

        .principal__btn {
            width: 20%;
            color: white;
            background-color: black;
            height: 7vh;
            border-radius: 13px;
            margin-bottom: 40px;
            cursor: pointer;
        }

        .principal__btn:hover {
            background-color: $colorPrincipal;
            color: black;
        }

        .principal__footer {
            margin-left: 10px;
        }
    }

    .imagen {
        width: 50%;

        .imagen__figura--principal {
            width: 100%;
            height: 460px;
        }
    }
}

@mixin ventanitas ($largoTarjeta, $anchoTarjeta, $rightTarjeta) {
    width: $anchoTarjeta;
    height: $largoTarjeta;
    color: black;
    border-radius: 15px;
    background-color: #d5d5d5;
    padding: 15px;
    position: absolute;
    right: $rightTarjeta;
    top: 35px;

    div {
        margin-bottom: 5px;
        cursor: pointer
    }
}

.oculto {
    display: none;
}

.oculto2 {
    display: none;
}

.oculto.mostrar {
    @include ventanitas($largoTarjeta, $anchoTarjeta , 80%);
    display: block;
}

.oculto2.mostrar2 {
    @include ventanitas($largoTarjeta, 64px, 72%);
    display: block;
}

@media (max-width:500px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .header__nav {
            display: none;
        }

        ;

        .header__lista {
            position: absolute;
            z-index: 1;
            left: 42%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            top: 60%;
            font-size: 27px;
            display: none;

            li {
                list-style: none;
                margin-bottom: 20px;
            }
        }

        .Register {
            border: 1px solid black;
            border-radius: 15px;
            padding: 20px;
            width: 19rem;
            position: relative;
            right: 142px;
            text-align: center;
        }

        .Register:hover {
            background-color: black;
            color: #d5d5d5;
        }

        .items__feature {
            cursor: pointer;
        }

        .items__company {
            cursor: pointer;
        }
    }

    .oculto {
        display: none;
        position: absolute;
        left: 54%;
        z-index: 1;
        top: 7rem;
        font-size: 30px;
    }

    .oculto2 {
        display: none;
        position: relative;
        left: 8rem;
        top: 10rem;
        z-index: 1;
        font-size: 25px;
    }

    .hamburguesa {
        display: block;
        position: absolute;
        left: 87%;
        top: 2%;
    }

    main {
        display: flex;
        flex-direction: column;
        text-align: center;

        .mobile {
            display: block;
            width: -webkit-fill-available;
        }

        .imagen {
            display: none;
        }

        .principal {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-left: 83px;
            width: 80%;
            
            

            h1 {
                font-size: 30px;
                margin-bottom: 15px;
                display: flex;
                justify-content: center;
            }

            p {
                font-size: 18px;
                margin-bottom: 40px;
                width: 34rem;
                margin-top: 0px;
                position: relative;
                right: 6rem;
                z-index: -1;
    
            }

            .principal__btn {
                width: 50%;
                position: relative;
                left: 5rem;
            }

            .principal__footer {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 68%;
                left: 11px;
                position: relative;
            }

        }
    }

    .ocultar__barra.barra {
        position: absolute;
        background-color: #dedede;
        border-radius: 5px;
        border: 1px solid black;
        width: 90%;
        height: 90%;
        left: 10%;
        display: block;
        top: 0px;

        img {
            display: flex;
            position: relative;
            left: 90%;
            top: 10px;
        }

        ul {
            list-style: none;
            font-size: 30px;
            left: 20px;
            top: 60px;
            position: relative;
        }

        li {
            margin-bottom: 10px;
        }
    }

    .ocultar__barra {
        display: none;
    }
}